<%- include('../layouts/header'); -%>
<body>
  <h3>Welcome, <%= user_name %></h3>
  <div>
    <% chatList.forEach(function(chat) { %>
    <div>
      <h4><%= chat.name %></h4>
      <a href="/chat/<%= chat.channel %>">Join Chat</a>
    </div>
    <% }); %>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    // var socket = io("http://localhost:4000/");

    // socket.on("btnclick-response", data => {
    //   console.log("data from the server: ", data);
    // });

    // socket.on("channel-joined", data => {
    //   console.log("channel joined: ", data);
    // });

    // const chatJoinBtn = document.querySelectorAll(".chat-join-btn");
    // const justOne = document.querySelector(".just-one");

    // justOne.addEventListener("click", e => {
    //   console.log("emitting btnclick");
    //   socket.emit("btnclick");
    // });

    // chatJoinBtn.forEach(btn =>
    //   btn.addEventListener("click", e => {
    //     const { channel } = e.target.dataset;
    //     console.log("the channel: ", channel);
    //     // socket.emit("join-chat")
    //     console.log("emitting ferret");
    //     socket.emit("join-chat", channel, data => {
    //       console.log(data);
    //     });
    //   })
    // );
  </script>
</body>
<%- include('../layouts/footer'); -%>
